.navbar {

    padding: 10px;
}

.navbar-nav {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.nav-item {
    margin: 0 10px;
}

.nav-link {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.nav-icon {
    margin-right: 5px;
    font-size: 20px;
}